:root {
  --text-color: white;
}

.hero {
  padding: 20px 100px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hero > .hero-text > p {
  font-size: 20px;
  color: var(--text-color);
  text-align: start;
  margin-bottom: 10px;
}
.hero > .hero-text > h1 {
  font-size: 40px;
  color: var(--text-color);
  text-align: start;
  margin-bottom: 10px;
}

.hero > .hero-text > h3 {
  font-size: 25px;
  color: var(--secondary-color);
  text-align: start;
  margin-bottom: 10px;
}
.hero > .hero-text > h4 {
  font-size: 25px;
  color: var(--text-color);
  text-align: start;
  margin-bottom: 10px;
}

.hero .hero-image {
  aspect-ratio: 1/1;
  position: absolute;
  height: 80%;
  margin-left: 20px;
  /* background-color: blue; */
  border-radius: 50%;
  filter: blur(10px);
  box-shadow: 30px 10px 10px 10px rgba(0, 0, 0, 0.2);
  top: 30px;
}

.hero .image {
  position: relative;
  /* background-color: red; */
  top: 15px;
}

.hero .image img {
  position: relative;
  mix-blend-mode: lighten;
  opacity: 1;
  border-radius: 50%;
  aspect-ratio: 1/1;
  z-index: 1;
  /* border: 1px solid white; */
  background-color: blue;
  box-shadow: 30px 10px 10px 10px rgba(0, 0, 0, 0.2);
}
/* Mobile Screen Layout */
@media screen and (max-width: 768px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    justify-self: center;
    flex-direction: column-reverse;
    
   
  }
  .hero > .hero-text {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hero > .hero-text > p {
    font-size: 0.1rem;
    color: var(--text-color);
    text-align:center;
    margin-bottom: 10px;
  }
  .hero > .hero-text > h1 {
    font-size: 12px;
    color: var(--text-color);
    text-align: start;
    margin-bottom: 10px;
  }

  .hero > .hero-text > h3 {
    font-size: 14px;
    color: var(--secondary-color);
    text-align: start;
    margin-bottom: 10px;
  }
  .hero > .hero-text > h4 {
    font-size: 15px;
    color: var(--text-color);
    text-align: start;
    margin-bottom: 10px;
  }
  .hero .image img {
    display: flex;
    justify-self: center;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 50%;
    background-color: blue;
    box-shadow: 30px 10px 10px 10px rgba(0, 0, 0, 0.2);
  }
}
