:root{
    --text-color : white;
}

.hero{
    padding: 20px 100px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}
.hero > .hero-text > p{
    font-size: 20px;
    color: var(--text-color);
    text-align: start;
    margin-bottom: 10px;
}
.hero > .hero-text > h1{
    font-size: 40px;
    color: var(--text-color);
    text-align: start;
    margin-bottom: 10px;
}

.hero > .hero-text > h3{
    font-size: 25px;
    color: var(--secondary-color);
    text-align: start;
    margin-bottom: 10px;
}
.hero > .hero-text > h4{
    font-size: 25px;
    color: var(--text-color);
    text-align: start;
    margin-bottom: 10px;
}

.hero .hero-image{
    aspect-ratio: 1/1;
    height: 80%;
    margin-left: 20px;
    background-color: blue;
    border-radius: 50%;
    filter: blur(10px);
    box-shadow: 30px 10px 10px 10px rgba(0, 0, 0, 0.2);
}