.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    flex-direction: column;
    margin-top: 50px;
    padding: 30px;
    color: var(--text-color);
}

.contact > h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.contact .contact-form{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 20%;
}

.contact .contact-form input{
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
    border: none;
    background: white;
    border-radius: 5px;
}

.contact > .contact-form textarea{
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
    border: none;
    background: white;
    border-radius: 5px;
}

.contact .contact-form input, textarea:focus{
    outline: none;
}

.contact .contact-form button{
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
    border: none;
    background: var(--secondary-color);
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

/* Mobile Screen */
@media screen and (max-width:768px) {
    .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        justify-self: center;
    }
    .contact > h2{
       font-size: 1rem;
       margin-bottom: 0.1rem;
    }
    .contact > p {
        font-size: 0.6rem;
        margin-bottom: 0.5rem;
    }
    
    .contact .contact-form{
        width: fit-content;
        margin: 10px;

      
    }
    
    .contact .contact-form input{
        font-size: 0.5rem;
        padding: 5px 5px;
        margin-bottom: 3px;
        min-width: 150px;
        
  
    }
    
    .contact > .contact-form textarea{
        font-size: 0.5rem;
        padding: 5px 5px;
        margin-bottom: 3px;

    }
    
    .contact .contact-form input, textarea:focus{
        outline: none;
    }
    
    .contact .contact-form button{
        font-size: 0.6rem;
        padding: 10px 5px;

    }
    
    
}